.xml-dropbox {
  display: inline-block;
  padding: 2rem 3rem;
  border: 3px solid silver;
  background-color: azure;
  &.active {
    background-color: peachpuff;
    color: hotpink;
  }
}

.upload-list {
  display: flex;
  flex-direction: column-reverse;
}