$blue: #005172;
$green: #48a360;

html {
  box-sizing: border-box;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: black;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: min-content auto;
  height: 100%;
}

header {
  grid-column: 1/2;
  grid-row: 1/1;
  background-color: $blue;
  color: white;
  h1 {
    text-align: center;
  }
  .menu {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    li {
      background-color: $blue;
      flex: 1;
      padding: 0.5rem 1rem;
      text-align: center;
      &:hover {
        background-color: $green;
      }
    }
  }
}

.xml-dropbox {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed silver;
  background-color: $blue;
  color: white;
  &.active {
    background-color: peachpuff;
    color: hotpink;
  }
}

.upload-list {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: $blue;
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  .file-name {
    margin: 0;
    font-weight: bold;
  }

  li {
    font-size: 0.8rem;
    text-align: center;

    a {
      display: block;
      padding: 0.4rem 0.2rem;
      margin: 0.2rem 0;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $green;
      }
    }
  }
}

.returned-dd-list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 1rem 2rem;

  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.25rem 0.5rem;
    border-width: 0 1px;
    border-style: dotted;
    border-color: gray;
  }

  thead,
  tbody {
    border: 2px solid black;
  }

  thead {
    font-weight: bold;
  }

  tbody tr {
    background-color: transparentize($green, 0.6);
  }

  tbody tr:nth-child(even) {
    background-color: transparentize($blue, 0.6);
  }

  .amount {
    text-align: right;
  }
}
